
<%- include("partials/header.ejs") %>
    <div class="container">
        <h1>
            <%= header %>
        </h1>

        <% if (locals.post) { %>
            <form class="blog-class" action="/api/posts/<%= post.id %>" method="post">
                <input type="text" name="title" id="input-txt" value="<%= post.title %>">
                <textarea name="" id="input-txtarea"><%= post.content %></textarea>
                <input id="input-txt"   type="text" name="author" value="<%= post.author %>">
                <button class="w-btn" type="submit">
                    <%= submit %>
                </button>
            </form>
            <% } else { %>

                <form class="blog-class" action="/api/posts" method="post">
                    <input type="text" name="title" id="input-txt" placeholder="Title" required>
                    <textarea name="content" id="input-txtarea" placeholder="Content" required rows="15"></textarea>
                    <input id="input-txt" type="text" name="author" placeholder="Author" required>
                    <button type="submit" class="w-btn">
                        <%= submit %>
                    </button>
                </form>
                <% } %>
    </div>
    <%- include("partials/footer.ejs") %>